.tinderslide {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
}

.tinderslide > ul {
    margin: 0; padding: 0;
    position: relative;
    display: block;
    height: 100%;
}

.tinderslide > ul > li {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;    
    overflow: hidden;
    text-align: center;   
    z-index: 2000;
    background: white;    
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}



/* Image rotation */
.tinderslide li.pane1 {    
    transform: rotate(-1deg);
}

.tinderslide li.pane2 {    
    transform: rotate(2deg);
}

/* Like & dislike badge images */
.tinderslide .like,
.tinderslide .dislike {
    background: url("../images/liked.png") no-repeat scroll 0 0;
    opacity: 0;
    height: 80px;
    position: absolute;
    width: 170px;
    left: 45px;
    top: 60px;
    z-index: 101;
    overflow: hidden;   
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tinderslide .dislike {
    right: 45px;
    left: auto;
    background: url("../images/nope.png") no-repeat scroll 0 0;
}